# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
demo/venv/
app/venv/
**/venv/
**/.venv/

# Environment files
.env
demo/.env
app/.env
app/backend/.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#Langsmith
langsmith/
.langsmith

# Node
node_modules/
.next/

#Logs
*.logs
logs/
